.BtnSing {
    background-color: #9378FF;
    border: none;
    color: white;
    padding: 0.8em 5em 0.8em 5em;
    font-size: 1em;
    font-weight: 600;
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-left: 4.8em;
    margin-top: 1em;
}

.BtnSing:hover {
    background-color: #7a5fe6;
}

@media (max-width: 575px) {
    .BtnSing{
        width: 40%;
        padding: 0.8em 1em;
        margin-left: 4em;
    }   
}

@media (max-width: 780px) {
    .BtnSing{
        width: 40%;
        padding: 0.8em 1em;
        margin-left: 3em;
    }   
}