
.TabCardModel {
    margin-top: 2%;
    text-align: center;
}

.viewFile {
    text-align: center;
    background-color: #45E598;
    color: white;
    padding: 4% 6%;
    border-radius: 4px;
    text-decoration: none;
    justify-self: center;
    margin-right: 6%;
}

.viewFile:hover {
    color: white;
    background-color: #43ce99;
    text-decoration: none;
}

.deleteModel {
    background-color: #e66363;
    color: white;
    padding: 3.5% 5.5%;
    border-radius: 4px;
    border: none;
    justify-self: center;
}

.deleteModel:hover {
    background-color: #e24545;
}