.BtnViewMore {
    display: inline-block;
    background: #D993D2;
    border-radius: 35px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em 1.5em;
}

.BtnViewMore a {
    text-decoration: none;
    color: #676767;
    font-size: 18px;
    font-weight: bolder;
}

.BtnViewMore a:hover {
    text-decoration: underline;
}