

.imgExpert {
    width: 60%;
    border-radius: 4px;
}
.discExpert {
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(48, 42, 30);
}

.ModelForm {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.myModels {
    background-color: rgba(243, 243, 243, 0.8);
    margin-bottom: 1%;
    padding-bottom: 2%;
    border-radius: 8px;
}