

.bgDeterm {
    /* background-color: #C896DB; */
    background-image: linear-gradient(to bottom, #D993D2, #e6a7de, #FFFFFF);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    padding: 16px 16px 16px 24px;
}

.dHeader {
    color: #503174;
    font-size: 2em;
    margin-left: 1%;
}

.text1 {
    text-align: center;
    color: #000000;
    opacity: 0.34;
}

.text2 {
    color: #7A628B;
    text-align: start;
    padding: 2px;
    width: 90%;
    font-size: 1em;
    margin-left: 4%;
}

.text3 {
    color: #7A628B;
    text-align: start;
    padding: 2px;
    width: 90%;
    font-size: 1em;
    margin-left: 4%;
    opacity: 0.5;
}

.btnConRead {
    color: white;
    font-size: 1m;
    font-weight: 600;
    background-color: #D993D2;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    position: absolute;
    bottom: 2%;
    margin-left: -4%;
}

.ourModels {
    text-align: center;
    background-color: #7B659C;
    border-radius: 8px;
    padding: 16px;
}

.expertsModels {
    text-align: center;
    background-color: #7B659C;
    border-radius: 8px;
    padding: 16px;
}